<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dashboard_styles.css" rel="stylesheet"/>
</head>
<body background="../static/images/1.jpg">
    <div class="container">
       <br><br><br>
        <center>
        <h1><strong>Admin Dashboard</strong></h1>

        <div class="container text-center mt-5 flex-grow-1">

            <div class="mt-4">
                <a href="/adminflights" class="btn btn-primary mr-2">Flights</a><br><br>
                <a href="/adminhotels" class="btn btn-primary">Hotels</a><br><br>
                <a href="/adminn" class="btn btn-primary">Logout</a>
            </div>
        </div>
</center>

</body>
</html>
