<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/dashboard_styles.css" >
</head>
<body background="../static/images/bg.png">
 
    <div class="header">
        <div class="title">
            <h1 class="h1-header"><b>Trip Trove</b></h1>
        </div>
    </div>
 
    <nav>
        <a href="dashboard">Dashboard</a>
        <a href="services">Services</a>
        <a href="aboutus">About Us</a>
        <a href="contactus">Contact Us</a>
        <a href="logout">Logout</a>
    </nav>

   <h2 style="text-align: center;">Welcome!!!</h2><br>
   <center>
   <section>
    <p style="font-family: 'Times New Roman', Times, serif;">Welcome to Trip Trove!
 
        At Trip Trove, we believe in creating unforgettable travel experiences tailored to your unique preferences. Our team of expert travel planners is dedicated to curating personalized itineraries that exceed your expectations and fulfill your wanderlust dreams.
         
        Whether you're seeking an adventurous getaway, a relaxing beach retreat, a cultural immersion, or a culinary journey, we've got you covered. From arranging accommodations to booking activities and providing insider tips, we handle every detail with care to ensure a seamless and memorable travel experience.
         
        With Trip Trove, you can embark on your next adventure with confidence, knowing that you have a trusted partner by your side every step of the way. Let us turn your travel dreams into reality. Start planning your next journey with us today!</p>
   </section><br><br>
</center>
   
</body>
<div class="footer">
    <p><b>&copy; 2023 Trip Trove. All rights reserved. | Contact: trip_trove@gmail.com</b></p>
</div>

</html>
