<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dashboard_styles.css" rel="stylesheet">
</head>
<body style="display: flex; flex-direction: column; height: 100%;" background="../static/images/3.png">
    
    <div class="header">
        <div class="title">
            <h1 class="h1-header"><b>Trip Trove</b></h1>
        </div>
    </div>
 
    <nav>
        <a href="dashboard">Dashboard</a>
        <a href="services">Services</a>
        <a href="aboutus">About Us</a>
        <a href="contactus">Contact Us</a>
        <a href="logout">Logout</a>
    </nav>

    <div class="container text-center mt-5 flex-grow-1">

        <div class="mt-4">
            <a href="/flights" class="btn btn-primary mr-2">Flight Booking</a><br><br>
            <a href="/accomodation" class="btn btn-primary">Accomodation</a><br><br>
            <a href="/weatherforecast" class="btn btn-primary">Weather Forecast</a>
        </div>
    </div>
 
    <div class="footer">
        <p><b>&copy; 2023 Trip Trove. All rights reserved. | Contact: trip_trove@gmail.com</b></p>
    </div>
  
</body>
</html>